@mixin grid-creation($noOfCols,$screenName,$breakPoint){
  @if ($screenName==""){
      @media (min-width:$breakPoint){
          @for $i from 1  through $noOfCols{
              .col-#{$i}{
                  width: ($i/$noOfCols)*100%;
              }
          }
      }
  }
  @else{
      @media (min-width:$breakPoint){
          @for $i from 1  through $noOfCols{
              .col-#{$screenName}-#{$i}{
                  width: ($i/$noOfCols)*100%;
              }
          }
      }
  }
}

@include grid-creation(12,"",0px);
@include grid-creation(12,"sm",500px);
@include grid-creation(12,"md",900px);
@include grid-creation(12,"lg",1200px);

.container {
  width: 80%;
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}