$primary-color : crimson;
$secondary-color : blueviolet;

.main {
  &-title {
    color: $primary-color;
  }
  &-subtitle {
    color: $secondary-color;
  }
  &-btn {
    background-color: $primary-color;
    transition: 0.3s;
    &:hover {
      background-color: $secondary-color;
    }
  }
}

$fonts : 14px, 16px, 18px;
@each $font in $fonts {
  .font-#{$font} {
    font-size: $font;
  }
}

.finish-btn {
  @media (min-width: 0px) {
    width: 100%;
  }
  @media (min-width: 676px) and (max-width:991px) {
    width: 50%;
  }
}